.site-header {
 background: rgb(33,33,33);
 font-size: 30px;
 position: relative;
 display: flex;
 height: 50px;
 opacity: 80%;
}

.main-sections li {
 position: relative;
 list-style-type: none; 
 padding: 10px;
 margin: 0;
 display: inline-block;
 float: left;
 top: -35px;
}

.main-sections a:link { text-decoration: none; }
.main-sections a:visited { text-decoration: none; }
.main-sections a:active { text-decoration: none; }

.main-sections a {
 color: rgb(97,97,97);
}

.main-sections a:hover {
 color: rgb(100,221,23);
}

.options {
 margin: 0 auto;
}

body {
 margin: 0;
 font-family: "Roboto";
}

html {
 background: url(galaxy_picture.png) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; 
}

#content {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-content: stretch;
}

.content-container {
 flex: 1 100%;
 background-color: rgba(33, 33, 33, 0.8);
 padding: 10px;
 box-shadow: 2px 2px 5px black;
 display: block;
 text-decoration: none;
 margin: 30px;
 max-height: 300px;
 max-width: 500px;
}

.Project-Title {
 position: relative;
 font-family: "Roboto";
 color: white;
 margin: 0 auto;
 text-align: center;
}

.Project-Description {
 font-family: "Roboto";
 color: white;
 text-align: center;
 margin: 0 auto;
 padding-bottom: 10px;
}

.Project-Images {
 width: 100%;
 max-height: 200px;
}