body {
 font-family: "Roboto";
 margin: 0;
 background: url(galaxy_picture.png) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.site-header {
 background: rgb(33,33,33);
 font-size: 30px;
 height: 50px;
 opacity: 80%;
 margin: 0;
 text-align: center;
}

.header-items {
 display: inline-block;
 padding: 0;
 margin: 0 auto;
}

.header-item {
 list-style-type: none; 
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin: 0;
 float: left;
}

.header-item a {
 color: rgb(97,97,97);
 text-decoration: none;
}

.header-item a:hover {
 color: rgb(100,221,23);
}

.projects {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-content: stretch;
}

.project {
 flex: 1 100%;
 background-color: rgba(0.5, 0.5, 0.5, 0.6);
 padding: 10px;
 box-shadow: 2px 2px 5px black;
 display: block;
 color: white;
 text-decoration-color: none;
 margin: 25px;
 max-width: 400px;
 box-shadow: 5px 2px 30px 3px black;
}

.project h2 {
 position: relative;
 font-family: "Roboto";
 color: white;
 text-align: center;
 margin: 0 auto;
}

.project p {
 font-family: "Roboto";
 color: white;
 text-align: center;
}

.project img {
 width: 100%;
 max-height: 200px;
}
